* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #faedcd;
}

.container {
    position: relative;
    padding: 20px; /* Добавьте отступы для мобильных устройств */
}

.container .logo {
    pointer-events: none;
}

.container .info h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 8vh;
    text-align: center;
}

@media (max-width: 768px) {
    .container .info h1 {
        font-size: 6vh; /* Уменьшите размер шрифта для мобильных устройств */
    }
}